<%= render 'map' %>



<div class="locations">
    <h3>Nearest Locations</h3>

    <% @locations.each do |location| %>
          <div class="panel">
            <ul class="panel_info">
                <li><h1><%= location["name"] %></h1></li>
                <li>Distance: <%= location["miles"] %> miles</li>
                <li>Address: <%= location["street"] %></li>
            </ul>
            <p><%= location %></p>
          </div>
    <% end %>

  <h6>Licenses: "Battery charge icon" made available under <%= link_to 'CC Attribution 4.0', 'http://creativecommons.org/licenses/by/4.0/' %> by <%= link_to 'FatCow', 'http://www.fatcow.com/free-icons' %></h6>
</div>
