<%= render 'map' %>

<div class="locations">
	<div class="panel">
    <h1>Closest Electric Vehicle Charging Stations</h1>
	  <p>Nearby recommendations powered by Yelp <%= image_tag 'http://s3-media1.fl.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png' %></p>
	</div>
    <% @locations.each do |location| %>
          <div class="panel">
            <ul class="panel_info">
                <li><h1><%= location["name"] %></h1></li>
                <% @haversine = location["lat"], location["lng"] %>
                <li>Distance: <% distance = Haversine.distance(@current_coordinates, @haversine)%><%= distance.to_miles.round(2) %> miles</li>
								<li>Nearby while you wait: <%= link_to location["yelp"]["name"], location["yelp"]["url"] %> <%= image_tag location["yelp"]["rating_image"] %> | <%= location["yelp"]["distance"]%> mi. from station</li>
            </ul>
          </div>
    <% end %>

  <h6>Licenses: "Battery charge icon" made available under <%= link_to 'CC Attribution 4.0', 'http://creativecommons.org/licenses/by/4.0/' %> by <%= link_to 'FatCow', 'http://www.fatcow.com/free-icons' %></h6>
</div>
